*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-default: #fafafa;
  --palette-secondary-main: #b80040;
  --palette-background-paper: #fff;
  --palette-text-primary: rgba(0, 0, 0, .87);
  --palette-primary-main: #14b8a2;
  --palette-divider: rgba(0, 0, 0, .12);
  --background-blend-gradient: linear-gradient(hsla(0, 0%, 100%, 0) 68%, #fff);
  --palette-text-secondary: rgba(0, 0, 0, .54);
  --palette-warning-main: #b5b800;
  --palette-primary-light: #43c6b4;
  --palette-primary-main-rgb: 20, 184, 162;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: var(--background-default);
  color: var(--palette-text-primary);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  --background-default: #303030;
  --palette-secondary-main: #ff206e;
  --palette-background-paper: #424242;
  --palette-text-primary: #fff;
  --palette-divider: hsla(0, 0%, 100%, .12);
  --background-blend-gradient: linear-gradient(hsla(0, 0%, 100%, 0) 68%, #303030);
  --palette-text-secondary: hsla(0, 0%, 100%, .7);
  --palette-warning-main: #fbff12;
  --palette-primary-light: #67eedc;
  --palette-primary-main-rgb: 65, 234, 212;
}
